background-color {
    color: red;
}
    

h1 {
    color: green;
    font-style: bold;
    
    text-align: center;   
    
}
.tables {
    border:dotted;
    border-width: 10cm;
border-width: 3px;
border-color: sienna;
text-align : center;

}
.list{
    text-align: center;
    margin-top:15px;
    color: springgreen;

}
}